.header {
  grid-area: h;
  background-color: green;
  padding:1em;
  display: flex;
  justify-content: space-between;
}

.header a {
  color: #fff;
  display: block;
  text-align: center;
}

.header img {
  height: 85px;
}

.login {
  text-align: center;
} 