.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.dialogsItems {
    padding: 1em;
}

.dialog {
    color: #fff;
}

.dialog.active {
    color: #000;
}

.messages {
    padding: 1em;
}

.message {

}