.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.dialogsItems {
    padding: 1em;
}

.messages {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
